<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your task approved!</h1>
<p>
  Someone approved your pull request <br>
</p>
<p>
  To merge a pull request, just follow <%= link_to " this link", @github_url %>.
</p>
<p>Thanks for you coding!</p>
</body>
</html>
