<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Code changes requested</h1>
<p>
  Someone requested changes in your pull request <br>
</p>
<p>
  To check a pull request, just follow <%= link_to " this link", @task.github_url %>.
</p>
<p>Thanks for you coding!</p>
</body>
</html>
