 //= link_to "padawan`s task", # link to padawan and hiw verifying task

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @mentor.email %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @mentor.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
