<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Task review needed</h1>
    <p>
      Your padawan <%= "#{@user.full_name}" %> has done a task and want you to review it<br>
    </p>
    <p>
      To check a pull request, just follow <%= link_to " this link", @task.github_url %>.
    </p>
    <p>Thanks for you review!</p>
  </body>
</html>
